body{
    margin: 0 auto;
    background-image: url(geometric-leaves.png);
}

header{
    background-color: #01ae33;
    padding-left: 10px;
}

h1{
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3em;
}

main{
    padding-top: 10px;
}

form{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

table{
    margin: 0 auto;
}

input{
    height: 1.5em;
    width: 20em;
    font-size: 0.75em;
    border-radius: 10px;
    border: solid 2px #a9a9a9;
    background-color: #f7f7f7;
}
