body{
    margin: 0 auto;
    background-image: url(geometric-leaves.png);
    overflow: hidden;
}

header{
    background-color: #01ae33;
    padding-left: 10px;
    width: 100%;
}

h1{
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3em;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main{
    padding-top: 10px;
    padding-left: 10px;
}

form{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    width: 50%;
}

input{
    height: 1.5em;
    width: 20em;
    max-width: 400px;
    font-size: 0.75em;
    border-radius: 10px;
    border: solid 2px #a9a9a9;
    background-color: #f7f7f7;
}

#question{
    color: #01ae33;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

@media only screen and (min-width: 768px){
    main{
        padding-top: 10px;
    }

    form{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }
    
    table{
        margin: 0 auto;
        width: 50%;
    }
}