@import url('https://fonts.googleapis.com/css?family=Muli');

article, details, figure, footer, menu, nav, section, head，body {
  display: block;
  margin: 0.5;
  padding: 0.1;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #212F3D;
}
